<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Currently, I’m pursuing my Masters degree in Computer Science from
      <strong>Arizona State University</strong>. I did my Bachelors in
      Information and Communication Technology from DA-IICT, India. I have more
      than one year of experience working in building scalable software end to
      end, using full stack technologies. My areas of interest in computer
      science are full stack software engineering, and database management
      systems.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and
      design &mdash; combining my technical knowledge with my keen eye for
      design to create a beautiful product. My goal is to contribute in building
      scalable applications with engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>Outside of work</strong>, I’m usually found surfing YouTube,
      playing tennis, reading books, learning more about personal finance or
      listening to music.
    </p>

    {% include employment-status.html %}
  </div>
</section>
