<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Currently, I’m pursuing my Masters degree in Computer Science from
      <strong>Arizona State University</strong>. I did my Bachelors in
      Information and Communication Technology from DA-IICT, India. I have more
      than one year of experience working in building scalable software end to
      end, using full stack technologies. My areas of interest in computer
      science are full stack software engineering, and database management
      systems.
    </p>

    <p>
      Having possessed relevant experience in working with various tools and
      technologies and owning products end to end, I believe my primary driving
      force is my will to learn and keep on improving my skills. I enjoy keeping
      up with the latest trends in the tech space.
    </p>

    <p>
      <strong>Outside of work</strong>, I’m usually found surfing YouTube,
      playing tennis, reading books, learning more about personal finance or
      listening to music.
    </p>

    {% include employment-status.html %}
  </div>
</section>
